In [16]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [13]:
volume_entry_train1 = pd.read_csv("volume_entry_train_1Soffset0.csv",index_col="Unnamed: 0")
print volume_entry_train1.columns
volume_entry_train1.head()

Index([u'cargo_count0', u'cargo_count1', u'cargo_count2', u'cargo_count3',
       u'cargo_count4', u'cargo_count5', u'cargo_model0', u'cargo_model1',
       u'cargo_model2', u'cargo_model3', u'cargo_model4', u'cargo_model5',
       u'cargo_model_avg0', u'cargo_model_avg1', u'cargo_model_avg2',
       u'cargo_model_avg3', u'cargo_model_avg4', u'cargo_model_avg5',
       u'etc_count0', u'etc_count1', u'etc_count2', u'etc_count3',
       u'etc_count4', u'etc_count5', u'no_count0', u'no_count1', u'no_count2',
       u'no_count3', u'no_count4', u'no_count5', u'passenger_count0',
       u'passenger_count1', u'passenger_count2', u'passenger_count3',
       u'passenger_count4', u'passenger_count5', u'passenger_model0',
       u'passenger_model1', u'passenger_model2', u'passenger_model3',
       u'passenger_model4', u'passenger_model5', u'passenger_model_avg0',
       u'passenger_model_avg1', u'passenger_model_avg2',
       u'passenger_model_avg3', u'passenger_model_avg4',
       u'passenger_model_avg5', u'vehicle_model0', u'vehicle_model1',
       u'vehicle_model2', u'vehicle_model3', u'vehicle_model4',
       u'vehicle_model5', u'vehicle_model_avg0', u'vehicle_model_avg1',
       u'vehicle_model_avg2', u'vehicle_model_avg3', u'vehicle_model_avg4',
       u'vehicle_model_avg5', u'volume0', u'volume1', u'volume2', u'volume3',
       u'volume4', u'volume5', u'y', u'vehicle_all_model', u'cargo_all_model',
       u'passenger_all_model', u'no_all_count', u'cargo_all_count',
       u'passenger_all_count', u'volume_all', u'etc_all_count',
       u'vehicle_all_model_avg', u'cargo_all_model_avg',
       u'passenger_all_model_avg', u'month', u'day', u'hour', u'minute'],
      dtype='object')

,cargo_count0,cargo_count1,cargo_count2,cargo_count3,cargo_count4,cargo_count5,cargo_model0,cargo_model1,cargo_model2,cargo_model3,...,passenger_all_count,volume_all,etc_all_count,vehicle_all_model_avg,cargo_all_model_avg,passenger_all_model_avg,month,day,hour,minute
2016-09-19 00:00:00,3.0,0.0,2.0,3.0,3.0,1.0,12.0,0.0,7.0,15.0,...,49.0,62.0,10.0,1.629032,4.083333,1.061224,9,19,2,0
2016-09-19 00:20:00,0.0,2.0,3.0,3.0,1.0,3.0,0.0,7.0,15.0,10.0,...,43.0,56.0,7.0,1.750000,4.083333,1.139535,9,19,2,20
2016-09-19 00:40:00,2.0,3.0,3.0,1.0,3.0,7.0,7.0,15.0,10.0,5.0,...,40.0,60.0,7.0,1.916667,3.631579,1.150000,9,19,2,40
2016-09-19 01:00:00,3.0,3.0,1.0,3.0,7.0,5.0,15.0,10.0,5.0,12.0,...,34.0,57.0,6.0,2.070175,3.545455,1.176471,9,19,3,0
2016-09-19 01:20:00,3.0,1.0,3.0,7.0,5.0,4.0,10.0,5.0,12.0,20.0,...,32.0,56.0,5.0,2.053571,3.347826,1.187500,9,19,3,20

In [14]:
entry_train1_y = volume_entry_train1["y"]
entry_train1_X = volume_entry_train1.copy()
del entry_train1_X["y"]

In [25]:
corr = volume_entry_train1.corr()
# plt.figure(figsize=(10, 10))

# sns.heatmap(corr, vmax=1, square=True,annot=True,cmap='cubehelix')
# plt.title('Correlation between features')
print corr.sort_values(["y"]).iloc[:10]["y"].append(corr.sort_values(["y"]).iloc[-10:]["y"])

vehicle_all_model_avg     -0.657169
vehicle_model_avg5        -0.604688
vehicle_model_avg4        -0.599851
vehicle_model_avg3        -0.591620
vehicle_model_avg2        -0.581744
vehicle_model_avg1        -0.564100
vehicle_model_avg0        -0.548840
day                       -0.378023
minute                    -0.000783
passenger_all_model_avg    0.059460
no_all_count               0.846281
no_count4                  0.862687
volume1                    0.862909
no_count5                  0.875616
volume2                    0.894711
volume3                    0.923406
volume_all                 0.929217
volume4                    0.948074
volume5                    0.967589
y                          1.000000
Name: y, dtype: float64