In [1]:
import pandas as pd
import numpy as np

In [3]:
result0 = pd.read_csv("volume_predict_stacking_pure.csv")
result1 = pd.read_csv("../train&test_zjw/volume_predict_stacking_pure.csv")

In [5]:
result0.head()

   tollgate_id                                time_window  direction  volume
0            1  [2016-10-18 08:00:00,2016-10-18 08:20:00)          0   16.49
1            1  [2016-10-18 17:00:00,2016-10-18 17:20:00)          0   11.73
2            1  [2016-10-19 08:00:00,2016-10-19 08:20:00)          0   12.65
3            1  [2016-10-19 17:00:00,2016-10-19 17:20:00)          0   17.50
4            1  [2016-10-20 08:00:00,2016-10-20 08:20:00)          0   15.34

In [6]:
merge_result = pd.merge(result0, result1, on=["tollgate_id", "time_window", "direction"])
merge_result

,tollgate_id,time_window,direction,volume_x,volume_y
0,1,"[2016-10-18 08:00:00,2016-10-18 08:20:00)",0,16.49,44.92
1,1,"[2016-10-18 17:00:00,2016-10-18 17:20:00)",0,11.73,40.68
2,1,"[2016-10-19 08:00:00,2016-10-19 08:20:00)",0,12.65,44.97
3,1,"[2016-10-19 17:00:00,2016-10-19 17:20:00)",0,17.50,38.17
4,1,"[2016-10-20 08:00:00,2016-10-20 08:20:00)",0,15.34,42.73
5,1,"[2016-10-20 17:00:00,2016-10-20 17:20:00)",0,17.08,39.05
6,1,"[2016-10-21 08:00:00,2016-10-21 08:20:00)",0,6.57,45.90
7,1,"[2016-10-21 17:00:00,2016-10-21 17:20:00)",0,13.17,56.67
8,1,"[2016-10-22 08:00:00,2016-10-22 08:20:00)",0,18.27,40.50
9,1,"[2016-10-22 17:00:00,2016-10-22 17:20:00)",0,12.55,45.78
10,1,"[2016-10-23 08:00:00,2016-10-23 08:20:00)",0,15.57,39.21
11,1,"[2016-10-23 17:00:00,2016-10-23 17:20:00)",0,14.69,56.44
12,1,"[2016-10-24 08:00:00,2016-10-24 08:20:00)",0,15.77,45.03
13,1,"[2016-10-24 17:00:00,2016-10-24 17:20:00)",0,23.96,40.95
14,1,"[2016-10-18 08:20:00,2016-10-18 08:40:00)",0,16.21,49.70
15,1,"[2016-10-18 17:20:00,2016-10-18 17:40:00)",0,11.49,30.15
16,1,"[2016-10-19 08:20:00,2016-10-19 08:40:00)",0,7.91,51.34
17,1,"[2016-10-19 17:20:00,2016-10-19 17:40:00)",0,12.27,30.47
18,1,"[2016-10-20 08:20:00,2016-10-20 08:40:00)",0,21.05,47.32
19,1,"[2016-10-20 17:20:00,2016-10-20 17:40:00)",0,22.52,29.64
20,1,"[2016-10-21 08:20:00,2016-10-21 08:40:00)",0,5.54,48.96
21,1,"[2016-10-21 17:20:00,2016-10-21 17:40:00)",0,8.32,46.51
22,1,"[2016-10-22 08:20:00,2016-10-22 08:40:00)",0,8.89,46.90
23,1,"[2016-10-22 17:20:00,2016-10-22 17:40:00)",0,3.88,46.49
24,1,"[2016-10-23 08:20:00,2016-10-23 08:40:00)",0,9.21,45.81
25,1,"[2016-10-23 17:20:00,2016-10-23 17:40:00)",0,13.59,52.13
26,1,"[2016-10-24 08:20:00,2016-10-24 08:40:00)",0,10.70,48.12
27,1,"[2016-10-24 17:20:00,2016-10-24 17:40:00)",0,4.86,30.87
28,1,"[2016-10-18 08:40:00,2016-10-18 09:00:00)",0,4.35,49.41
29,1,"[2016-10-18 17:40:00,2016-10-18 18:00:00)",0,6.17,32.20
...,...,...,...,...,...
390,3,"[2016-10-24 09:00:00,2016-10-24 09:20:00)",1,2.83,119.87
391,3,"[2016-10-24 18:00:00,2016-10-24 18:20:00)",1,27.07,77.41
392,3,"[2016-10-18 09:20:00,2016-10-18 09:40:00)",1,39.15,120.07
393,3,"[2016-10-18 18:20:00,2016-10-18 18:40:00)",1,19.61,75.00
394,3,"[2016-10-19 09:20:00,2016-10-19 09:40:00)",1,13.16,109.32
395,3,"[2016-10-19 18:20:00,2016-10-19 18:40:00)",1,16.88,55.07
396,3,"[2016-10-20 09:20:00,2016-10-20 09:40:00)",1,42.73,109.43
397,3,"[2016-10-20 18:20:00,2016-10-20 18:40:00)",1,9.83,88.72
398,3,"[2016-10-21 09:20:00,2016-10-21 09:40:00)",1,27.45,101.36
399,3,"[2016-10-21 18:20:00,2016-10-21 18:40:00)",1,23.07,76.86
400,3,"[2016-10-22 09:20:00,2016-10-22 09:40:00)",1,3.02,98.84
401,3,"[2016-10-22 18:20:00,2016-10-22 18:40:00)",1,10.77,69.35
402,3,"[2016-10-23 09:20:00,2016-10-23 09:40:00)",1,9.59,68.48
403,3,"[2016-10-23 18:20:00,2016-10-23 18:40:00)",1,15.12,78.32
404,3,"[2016-10-24 09:20:00,2016-10-24 09:40:00)",1,12.67,119.23
405,3,"[2016-10-24 18:20:00,2016-10-24 18:40:00)",1,15.65,77.31
406,3,"[2016-10-18 09:40:00,2016-10-18 10:00:00)",1,9.80,105.78
407,3,"[2016-10-18 18:40:00,2016-10-18 19:00:00)",1,11.88,83.12
408,3,"[2016-10-19 09:40:00,2016-10-19 10:00:00)",1,10.11,93.23
409,3,"[2016-10-19 18:40:00,2016-10-19 19:00:00)",1,12.52,62.06
410,3,"[2016-10-20 09:40:00,2016-10-20 10:00:00)",1,7.85,97.33
411,3,"[2016-10-20 18:40:00,2016-10-20 19:00:00)",1,16.14,80.73
412,3,"[2016-10-21 09:40:00,2016-10-21 10:00:00)",1,17.36,102.44
413,3,"[2016-10-21 18:40:00,2016-10-21 19:00:00)",1,47.44,80.42
414,3,"[2016-10-22 09:40:00,2016-10-22 10:00:00)",1,25.09,82.09
415,3,"[2016-10-22 18:40:00,2016-10-22 19:00:00)",1,29.15,62.07
416,3,"[2016-10-23 09:40:00,2016-10-23 10:00:00)",1,8.21,70.59
417,3,"[2016-10-23 18:40:00,2016-10-23 19:00:00)",1,8.08,81.50
418,3,"[2016-10-24 09:40:00,2016-10-24 10:00:00)",1,4.86,101.97
419,3,"[2016-10-24 18:40:00,2016-10-24 19:00:00)",1,7.13,79.78